@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:deepskyblue;
}

.playlist {
    background: #0000001c;
    list-style:none;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    width: 16rem;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title {
    color: white;
    margin-left: 8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    text-shadow: 4px 4px 4px black;
    padding-right: 2rem;
    padding-top:2rem;
}

li {
    list-style:none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

li:hover {
    background: #83c643;
    border-radius: 2rem;
}

figure {
    align-self: baseline;
    padding-top: 6rem;
    margin-left: 4rem;
}


figcaption {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding: 1rem;

}

ul {
    padding-left: 0rem;
}
